#Borrowed from anacron
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
#End borrowed from anacron

#minute hour    day     month   week    command
*/1       *       *       *       *       /bin/sh /usr/local/bin/backup 2>&1
